/* http://www.palettefx.com/ */

* {
    box-sizing: border-box;
}

body 
{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

main 
{
    z-index: 2;
    margin-top: 100vh;
    position: relative;
}

header 
{
/*    border: 1px dotted red; */
    height: 100vh;    
    width: 100%;
    background: url(image.jpg);
    background-size: cover;
    background-position: center;
    /* position: relative;  */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header hgroup 
{
    /*border: 2px dotted white;*/
    color: #ddffff;
    text-shadow: 3px 3px #112200;
    -webkit-text-fill-color: #ddffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #445500;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

header hgroup h1 
{
    font-size: 100px;
    padding-top: 50px;
}

header hgroup h2
{
    font-size: 50px;
    padding-top: 30px;
    padding: 20px;
}

#bookingSite 
{
/*    border: 1px dotted green; */
    height: 100vh;
    background: linear-gradient(#55ccff, #99ccbb);
}

#bookingSite #menu
{
    border: 1px dotted green;
    height: 50px;
    background-color: #00aaff;
}

.sticky
{
    position: fixed;
    top: 0;
    width: 100%;
}

#bookingSite #menu .menuElement
{
    border: 1px dotted black;
    width: 80px;
    height: 100%;
    float: right;
    color: #cceedd;
    position: relative;
}

.menuElement span
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infoSite 
{
    border: 1px dotted blue;
    background: linear-gradient(#99ccbb, #ddffff);
    height: 100vh;
}

#contactSite 
{
/*    border: 1px dotted pink; */
    background: linear-gradient(#ddffff, #ffee00);
    height: 100vh;
}

footer
{
    height: 50px;
    background-color: #bbbb00; 
}